<!DOCTYPE html>
<html>

<head>

	<title>Tengen Tetris</title>
	<link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.1/dist/terminal.min.css" />

	{% block scripts %} {% endblock %}

	<style>
		/* Estilos para la pantalla de carga */
		#loading-screen {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(255, 255, 255, 0.7);
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 1000; /* Asegura que la pantalla de carga esté en la parte superior */
		}
	</style>

	<script>
		document.addEventListener("DOMContentLoaded", function() {
			// Muestra la pantalla de carga
			document.getElementById("loading-screen").style.display = "flex";

			// Espera 2 segundos (simulando carga)
			setTimeout(function() {
				// Oculta la pantalla de carga
				document.getElementById("loading-screen").style.display = "none";
			}, 2000); // 2 segundos de espera
		});
	</script>

</head>

<body class="terminal">

	<div id="loading-screen" style="display: none;">
		<!-- Pantalla de carga -->
		<h1>Loading Whitestack Challenge ...</h1>
	</div>

	<div class="container">
		<div class="terminal-nav">
			<header class="terminal-logo">
				<div class="logo terminal-prompt"><a href={{ url_for('index') }} class="no-style">Tengen Tetris</a></div>
			</header>
			<nav class="terminal-menu">
				<ul vocab="https://schema.org/" typeof="BreadcrumbList">
					<li><a href={{ url_for('solo') }} class="menu-item active"><span>Play solo</span></a>
						<meta property="position">
					</li>
					<li><a href={{ url_for('duo') }} class="menu-item active"><span>Play duo</span></a>
						<meta property="position">
					</li>
					<li><a href={{ url_for('scoreboard') }} class="menu-item active"><span>Score board</span></a>
						<meta property="position">
					</li>
				</ul>
			</nav>
		</div>
	</div>

	{% block body %} {% endblock %}

</body>

</html>
